<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Pagos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link rel="icon" href="/images/logo.png" type="image/png">
</head>
<body>
    <div class="container mt-5">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1><i class="bi bi-wallet2"></i> Historial de Pagos</h1>
            <a href="/admin/pagos/nuevo" class="btn btn-warning">
                <i class="bi bi-plus-circle me-2"></i>Registrar Nuevo Pago
            </a>
        </div>

        <div class="card shadow-sm">
            <div class="card-body">
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>ID Pago</th>
                            <th>Alumno</th>
                            <th>Fecha de Pago</th>
                            <th>Monto</th>
                            <th>Método de Pago</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pago : ${pagos}">
                            <td th:text="${pago.idPago}"></td>
                            <td th:text="${pago.alumno.nombre}"></td>
                            <td th:text="${pago.fechaPago}"></td>
                            <td th:text="'$' + ${pago.monto}"></td>
                            <td th:text="${pago.metodoPago}"></td>
                            <td>
                            <a th:href="@{/admin/pagos/editar/{id}(id=${pago.idPago})}" class="btn btn-sm btn-warning">
                            <i class="bi bi-pencil-square"></i>
                            </a>
                            <a th:href="@{/admin/pagos/eliminar/{id}(id=${pago.idPago})}" class="btn btn-sm btn-danger">
                            <i class="bi bi-trash3"></i>
                            </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>